html{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width:100%;
    white-space: nowrap;
}
#defaultCanvas0{
    margin-left: 20px;
}
textarea{
    height:395px;
    width:150px;
    resize: none;
    background-color: rgba(200,200,200,0.5);
    font-size: 15px;
}